{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Recipes</h2>
    {{if .Recipes}}
        <table>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>ID</th>
            </tr>
            {{range .Recipes}}
            <tr>
                <td><a href='/recipe/view/{{.ID}}'>{{.Name}}</a></td>
                <td>{{humanDate .CreatedAt.Time}}</td>
                <td>#{{.ID}}</td>
            </tr>
            {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here yet!</p>
    {{end}}
    <button class="button is-danger">Button</button>
{{end}}
